@{
    ViewData["Title"] = "Lista de asistencias";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}

@section Styles {

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
}

<div class="container">

    <br />

    <div class="row header" style="text-align:center;color:green">
        <h3>Control de asistencias</h3>
    </div>

    <a id="btnAttendance" class="btn btn-primary" data-toggle="modal" data-target="#mdlRegisterAttendance">Marcar asistencia</a>

    <hr />

    <table id="tblAttendances" class="table table-striped table-bordered" style="width:auto;"></table>
</div>

<div id="mdlRegisterAttendance" class="modal fade" tabindex="-1" aria-labelledby="mdlRegisterAttendance" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Fecha:</label>
                <input id="iptDate" class="form-control" readonly>

                <label>Hora de entrada:</label>
                <input id="iptCheckIn" class="form-control" readonly>

                <label>Hora de salida:</label>
                <input id="iptCheckOut" class="form-control" readonly>
            </div>
            <div class="modal-footer">
                <button id="btnRegisterAttendance" type="button" class="btn btn-primary">Registrar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {

            var isCheckIn = true;
            var attendances = [];

            $(window).on('load', async function () {

                try {

                    await loadListAttendances();

                } catch (error) {

                    console.error('Error durante la carga de datos: ', error);
                }
            });

            $("#btnAttendance").on("click", function() {

                if (isCheckIn) {
                    $("#modalTitle").text("Registrar entrada");
                    $("#iptDate").val(getDate());
                    $("#iptCheckIn").val(getTime());
                    $("#iptCheckOut").val("---");
                } else {

                    $("#modalTitle").text("Registrar salida");
                    $("#iptDate").val(getDate());
                    $("#iptCheckIn").val("---");
                    $("#iptCheckOut").val(getTime());
                }
            });

            $("#btnRegisterAttendance").on("click", async function() {

                if (isCheckIn) {

                    await markAttendance("ENTRADA");
                    await loadListAttendances();
                } else {

                    await markAttendance("SALIDA");
                    await loadListAttendances();
                }

                isCheckIn = !isCheckIn;
                $("#mdlRegisterAttendance").modal('hide');
            });

            async function loadListAttendances() {

                try {

                    var data = await jQuery.ajax({

                        url: '@Url.Action("LoadListAttendances", "Employees")',
                        method: 'GET',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'
                    });

                    attendances = data;

                    fillTableAttendances(attendances);

                } catch (error) {

                    window.open('@Url.Action("Error", "Home")', '_self');
                }
            }

            async function markAttendance(markType) {

                try {

                    var data = await jQuery.ajax({

                        url: '@Url.Action("MarkAttendance", "Employees")' + `?markType=${markType}`,
                        method: 'GET',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'
                    });

                    if (data === true) {

                        Swal.fire({
                            icon: 'success',
                            title: 'Se marco su asistencia!',
                            text: `Se registro correctamente su hora de ${markType}.`
                        });
                    } else {

                        Swal.fire({
                            icon: 'error',
                            title: 'No se marco la asistencia!',
                            text: `No se pudo registrar su hora de ${markType}.`
                        });
                    }

                } catch (error) {

                    window.open('@Url.Action("Error", "Home")', '_self');
                }
            }

            function fillTableAttendances(listAttendances) {

                if (listAttendances.length === 0) {

                    Swal.fire({
                        icon: 'info',
                        title: 'No se encontraron resultados!',
                        text: 'No existen datos.'
                    });

                    return;
                }

                var columns = [];

                columns = [
                    { data: 'Id', title: 'Id' },
                    { data: 'Firstname', title: 'Nombre' },
                    { data: 'Lastname', title: 'Apellido' },
                    { data: 'Date', title: 'Fecha' },
                    { data: 'CheckIn', title: 'Ingreso' },
                    { data: 'CheckOut', title: 'Salida' },
                    { data: 'MinuteLate', title: 'Min tarde' }
                ];

                if ($.fn.DataTable.isDataTable('#tblAttendances')) {

                    $('#tblAttendances').DataTable().clear().destroy();
                }

                for (var i = 0; i < listAttendances.length; ++i) {

                    var date = new Date(listAttendances[i].Date);
                    listAttendances[i].Date = getFormattedDate(date);

                    var checkInDate = new Date(listAttendances[i].CheckIn);
                    listAttendances[i].CheckIn = getFormattedTime(checkInDate);

                    if (listAttendances[i].CheckOut !== null){

                        var checkOutDate = new Date(listAttendances[i].CheckOut);
                        listAttendances[i].CheckOut = getFormattedTime(checkOutDate);
                    }
                    else {

                        listAttendances[i].CheckOut = null;
                    }
                }

                $('#tblAttendances').DataTable({
                    data: listAttendances,
                    columns: columns,
                    searching: true,
                    paging: true,
                    ordering: true
                });
            }

            function getDateTime() {

                const date = new Date();

                const day = date.getDate();
                const mounth = date.getMonth() + 1;
                const year = date.getFullYear();
                const hour = date.getHours();
                const minutes = date.getMinutes();

                return `${day}/${mounth}/${year} ${hour}:${minutes}`;
            }

            function getDate() {

                const date = new Date();

                const day = date.getDate();
                const mounth = date.getMonth() + 1;
                const year = date.getFullYear();

                return `${day}/${mounth}/${year}`;
            }

            function getTime() {

                const date = new Date();

                const hour = date.getHours();
                const minutes = date.getMinutes();

                return `${hour}:${minutes}`;
            }

            function getFormattedDate(date) {

                let day = String(date.getDate()).padStart(2, '0');
                let mounth = String(date.getMonth() + 1).padStart(2, '0');
                let year = date.getFullYear();
                let hour = String(date.getHours()).padStart(2, '0');
                let minutes = String(date.getMinutes()).padStart(2, '0');

                return `${day}/${mounth}/${year}`;
            }

            function getFormattedTime(date) {

                let day = String(date.getDate()).padStart(2, '0');
                let mounth = String(date.getMonth() + 1).padStart(2, '0');
                let year = date.getFullYear();
                let hour = String(date.getHours()).padStart(2, '0');
                let minutes = String(date.getMinutes()).padStart(2, '0');

                return `${hour}:${minutes}`;
            }
        });

    </script>
}