@{
    ViewData["Title"] = "InterfaceEmployee";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}

@section Styles {


}

<div class="container my-5">

    <div class="text-center">
        <img src="https://www.transparentpng.com/thumb/user/gray-user-profile-icon-png-fP8Q1P.png" alt="Foto de perfil" class="rounded-circle mb-3" width="150" height="150">
        <h4 class="text-danger">58145151: JUAN DIEGO PEREZ RAMOS - TRABAJADOR</h4>
    </div>

    <div class="row">

        <div class="col-md-6">
            <p><strong>TIPO DE DOCUMENTO:</strong> DNI</p>
            <p><strong>NÚMERO DE DOCUMENTO:</strong> 000000</p>
            <p><strong>MONEDA:</strong> Moneda Nacional</p>
            <p><strong>PAÍS EMISOR DEL DOC:</strong> PERÚ</p>
            <p><strong>FECHA DE NACIMIENTO:</strong> 04/07/1992</p>
            <p><strong>NACIONALIDAD:</strong> PERÚ</p>
            <p><strong>SEXO:</strong> Masculino</p>
            <p><strong>FONDO DE PENSIONES:</strong> ONP</p>
            <p><strong>REG. PENSIONARIO:</strong> ON : O.N.P.</p>
            <p><strong>CUSPP:</strong> --</p>
            <p><strong>FECHA DE INSCRIPCIÓN:</strong> --</p>
            <p><strong>TIPO DE ESQUEMA:</strong> Comisión sobre la Remuneración</p>
        </div>

        <div class="col-md-6">
            <p><strong>ESTADO CIVIL:</strong> SOLTERO</p>
            <p><strong>EMAIL:</strong> test@outlook.com</p>
            <p><strong>TELÉFONO:</strong> 1-56565656</p>
            <p><strong>CARNET SEGURO:</strong> 25465665765</p>
            <p><strong>DIRECCIÓN:</strong> Jr. Paruro 478</p>
            <p><strong>UBIGEO:</strong> LA VICTORIA</p>
        </div>
    </div>
</div>